/* Design Guide */

/* shh-key SHA256:sSjB6kFcXlfyeFLKHSqBz2ekeBI6ZRuUN42GxrxFbP0 ssenkaaayi@gmail.com */

/* 

-------------------- CSS TEXT PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Family
Color

*/


/* 
-------------------- CSS BOX PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Back-ground color

padding 
margin


*/

/* LAYOUT */


/* Resource Center 

-------------------- Typography --------------------

1. styles  

font-weight: 500 -> normal / 700 -> bold
text-decoration -> none
list-style -> none

2. Spacing and Alignment

line-spacing : 1.25px -> H / 1.50px -> P
letter-spacing: -2 -> H / default (0) -> P
text-aligment: left -> P / center -> H   

3. Sizing : scale 1.2

sm -> 12px / a -> 16px / p -> 20px / h6 -> 24px / h5 -> 30px / h4 -> 36px / h3 -> 42px / h2 -> 50px / h1 -> 60px

4. Font-family

"poppin" , san-serif



*/

/* 

-------------------- Color -------------------- 

source: open color / color picker

Primary : base:#1c7ed6 / tint:#339af0 / shade:#1864ab
Secondary : base:#7048e8 / tint:#845ef7 / shade:#5f3dc4
Tertiary : base:#f76707 / tint:#ff922b / shade:#d9480f 

*/

/* -------------------- Images --------------------

cources: undraw.co / unsplash.com / https://ionic.io/ionicons

*/




/*  */

/* text-reset */
h1,h2,h3{

    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.2;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

p,a{
    font-weight: 500;
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
}

h1{ 
    font-size: 62px;
}

h2{
    font-size: 50px;
}

h3 {

    font-size:44px ;
    text-align: left;
}

p{

    font-size: 20px;

}

a{
    text-decoration: none;
    font-size: 16px;
    
}

li{
    list-style: none;
}

.small-text{
    font-size: 12px;
}

/* COMPONENTS */

.btn{ 

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.btn-primary{
    color:#1c7ed6 ;
}

.btn-secondary{
    color:#7048e8 ;
}
