/* Design Guide */

/* shh-key SHA256:sSjB6kFcXlfyeFLKHSqBz2ekeBI6ZRuUN42GxrxFbP0 ssenkaaayi@gmail.com */

/* 

-------------------- CSS TEXT PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Family
Color

*/


/* 
-------------------- CSS CONTENT BOX PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Back-ground color

*/

/* 
-------------------- CSS CONTAINER BOX PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Back-ground color

*/

/*-------------------- RESPONSIVE LAYOUT DESIGN --------------------

Relative Units
Fluid layouts
Media Querries

*/


/* Resource Center 

-------------------- Typography --------------------

1. styles  

font-weight: 500 -> normal / 700 -> bold
text-decoration -> none
list-style -> none

2. Spacing and Alignment

line-spacing : 1.25px -> H / 1.50px -> P
letter-spacing: -2 -> H / default (0) -> P
text-aligment: left -> P / center -> H   

3. Sizing : scale 1.2

sm -> 12px / a -> 16px / p -> 20px / h6 -> 24px / h5 -> 30px / h4 -> 36px / h3 -> 42px / h2 -> 50px / h1 -> 60px

4. Font-family

"poppin" , san-serif


-------------------- Color -------------------- 

source: open color / color picker

Primary : base:#1c7ed6 / tint:#339af0 / shade:#1864ab
Secondary : base:#7048e8 / tint:#845ef7 / shade:#5f3dc4
Tertiary : base:#f76707 / tint:#ff922b / shade:#d9480f 
grey: base: #343a40 / tint: #495057 / shade:#212529
white: #ffffff
black: #000000


-------------------- Images --------------------

cources: undraw.co / unsplash.com / https://ionic.io/ionicons

-------------------- Padding --------------------

4px / 8px / 16px

-------------------- Margin --------------------

10px / 20px / 30px / 40px / 50px / 100px/ 150px / 200px / 300px

-------------------- Brder-raduis --------------------

4px / 8px / 16px

*/


/*-------------------- GLOBAL STYLES -------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'poppins', sans-serif;
    color: #343a40;
    font-weight: 500;
    line-height: 1.5;

}

.page-container{
    max-width: 1200px;
    margin: 0 auto;
}

/* text-reset */
h1,h2,h3{

    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.2;
    text-align: center;
    color:#212529 ;

}

/* p, a, .small-text{
    color: #212529;
} */


h1{ 
    font-size: 62px;
}

h2{
    font-size: 50px;
}

h3 {

    font-size:44px ;
    text-align: left;
}

p{

    font-size: 20px;

}

a{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    
}

li{
    list-style: none;
}

span{
    display: inline-block;
}

.small-text{
    font-size: 12px;
    margin-bottom: 10px;
}

/*--------------------  COMPONENTS --------------------  */

.btn{ 

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-primary:link, .btn-primary:visited{
    background-color:#1c7ed6 ;
    border: solid 2px #1c7ed6;
    color: #ffffff;
}

.btn-primary-fill:link, .btn-primary-fill:visited{
    border: solid 2px #1c7ed6;
    color: #1c7ed6;
}

.btn-primary:hover, .btn-primary:active{
    background-color:#1864ab ;
    border:solid 2px #1864ab ;
    color: #ffffff;
}

.btn-primary-fill:hover, .btn-primary-fill:active{
    border:solid 2px #1864ab ;
    color: #1864ab;
}

.btn-secondary:link, .btn-secondary:visited{
    background-color:#7048e8 ;
    color: #ffffff;
}

.btn-secondary-fill:link, .btn-secondary-fill:visited{
    border:solid 2px #7048e8 ;
    color: #7048e8;
}

.btn-secondary-fill:hover, .btn-secondary-fill:active{
    border:solid 2px #5f3dc4 ;
    color: #5f3dc4;
}

.highlight{
    color: #ffffff;
    padding:10px 20px;
    border-radius: 8px;
    
}

.highlight-primary{

    background-color: #339af0 ;
}

.highlight-secondary{
    background-color: #845ef7;
}

.highlight-tartiary{

    background-color: #ff922b;
}

/*--------------------  SECTIONS  -------------------- */


/*------------ NAVIGATION ------------*/

.nav-section{
    margin-bottom: 100px;
}

/*------------ HERO ------------*/

.hero-section{
    margin-bottom: 100px;
    text-align: center;
}

.hero-section-heading{
    margin-bottom: 10px;
}

.hero-section-paragraph{
    margin-bottom: 50px;
}

/*------------ FEATURE ------------*/

.feature-section{
    margin-bottom: 100px;
}

.feature-main-heading{
    margin-bottom: 30px;
}

.feature-sub-headings{
    margin-bottom: 10px;
}

/*------------ CTA ------------*/

.cta-section{
    margin-bottom:100px ;

}

.cta-card{
    width: 1000px;
    background-color: #339af0;
    border: solid 2px #1c7ed6;
    border-radius: 16px;
    text-align: center;
    padding: 50px 100px;
    margin: 0 auto;
}

.cta-card-heading{

    margin-bottom: 30px;
}

/*------------ FOOTER ------------*/

.footer-section{

    text-align: center;
}
