/* Design Guide */

/* 

-------------------- TEXT CSS -------------------- 

Style
Spacing & alignment
Size
Family
Color

*/


/* 
-------------------- CSS BOX -------------------- */

/* LAYOUT */


/* Resource Center 

-------------------- Typography --------------------

1. styles  

font-weight: 500 -> normal / 700 -> bold
text-decoration -> none
list-style -> none

2. Spacing and Alignment

line-spacing : 1.25px -> H / 1.50px -> P
letter-spacing: -2 -> H / default (0) -> P
text-aligment: left -> P / center -> H   

3. Sizing : scale 1.2

sm -> 12px / a -> 16px / p -> 20px / h6 -> 24px / h5 -> 30px / h4 -> 36px / h3 -> 42px / h2 -> 50px / h1 -> 60px

4. Font-family

poppin / san-serif

5. Color 

Primary
Secondary
Tertiary

*/




/*  */

/* text-reset */
h1,h2,h3{

    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.2;

}

p,a{
    font-weight: 500;
    line-height: 1.5;
}


h1{ 
    font-size: 62px;
}

h2{
    font-size: 50px;
}

h3 {

    font-size:44px ;
}

p{

    font-size: 20px;

}


a{
    text-decoration: none;
    font-size: 16px;
    
}



li{
    list-style: none;
}