/* Design Guide */

/* shh-key SHA256:sSjB6kFcXlfyeFLKHSqBz2ekeBI6ZRuUN42GxrxFbP0 ssenkaaayi@gmail.com */

/* 

-------------------- CSS TEXT PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Family
Color

*/


/* 
-------------------- CSS CONTENT BOX PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Back-ground color

*/

/* 
-------------------- CSS CONTAINER BOX PROPERTIES -------------------- 

Style
Spacing & alignment
Size
Back-ground color

*/

/*-------------------- RESPONSIVE LAYOUT DESIGN --------------------

Relative Units
Fluid layouts
Media Querries

*/


/* Resource Center 

-------------------- Typography --------------------

1. styles  

font-weight: 500 -> normal / 700 -> bold
text-decoration -> none
list-style -> none

2. Spacing and Alignment

line-spacing : 1.25px -> H / 1.50px -> P
letter-spacing: -2 -> H / default (0) -> P
text-aligment: left -> P / center -> H   

3. Sizing : scale 1.2

sm -> 12px / a -> 16px / p -> 20px / h6 -> 24px / h5 -> 30px / h4 -> 36px / h3 -> 42px / h2 -> 50px / h1 -> 60px

4. Font-family

"poppin" , san-serif


-------------------- Color -------------------- 

source: open color / color picker

Primary : base:#1c7ed6 / tint:#339af0 / shade:#1864ab
Secondary : base:#7048e8 / tint:#845ef7 / shade:#5f3dc4
Tertiary : base:#f76707 / tint:#ff922b / shade:#d9480f 
grey: base: #343a40 / tint: #495057 / shade:#212529
white: #ffffff
black: #000000


-------------------- Images --------------------

cources: undraw.co / unsplash.com / https://ionic.io/ionicons

-------------------- Padding --------------------

4px / 8px / 16px

-------------------- Margin --------------------

10px / 20px / 30px / 40px / 50px / 100px/ 150px / 200px / 300px

-------------------- Brder-raduis --------------------

4px / 8px / 16px

*/


/*-------------------- GLOBAL STYLES -------------------- */

html{
    /* (10px /16px)* 100% = 62.5%*/

    font-size:62.5%;
}

:root{

    /*-------------- color variables --------------*/

    --primary-base: #1c7ed6;
    --primary-tint: #339af0;
    --primary-shade: #1864ab;
    --secondary-base:#7048e8;
    --secondary-tint:#845ef7;
    --secondary-shade:#5f3dc4;
    --tatiary-base:#f76707;
    --tatiary-tint:#ff922b;
    --tatiary-shade:#d9480f;
    --gray-base:#343a40;
    --gray-tint:#495057;
    --gray-shade:#212529;
    --white:#ffffff;
    --blak:#000000;

    /*-------------- spacing varivar(section-margin) --------------*/

    --section-margin:10rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'poppins', sans-serif;
    color: #343a40;
    font-weight: 500;
    line-height: 1.5;

}

.page-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

/* text-reset */
h1,h2,h3{

    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.2;
    text-align: center;
    color:#212529 ;

}

/* p, a, .small-text{
    color: #212529;
} */


h1{ 
    font-size: 6.2rem;
}

h2{
    font-size: 5rem;
}

h3 {

    font-size:4.4rem ;
    text-align: left;
}

p{

    font-size: 2rem;

}

a{
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
    
}

li{
    list-style: none;
}

span{
    display: inline-block;
}

.small-text{
    font-size: 1.2rem;
}

/*--------------------  COMPONENTS --------------------  */

.btn{ 

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
}

.btn-primary:link, .btn-primary:visited{
    background-color:var(--primary-base) ;
    border: solid 2px var(--primary-base);
    color: var(--white);
}

.btn-primary-fill:link, .btn-primary-fill:visited{
    border: solid 2px var(--primary-base);
    color: var(--primary-base);
}

.btn-primary:hover, .btn-primary:active{
    background-color:var(--primary-shade) ;
    border:solid 2px var(--primary-shade) ;
    color: var(--white);
}

.btn-primary-fill:hover, .btn-primary-fill:active{
    border:solid 2px var(--primary-shade) ;
    color: var(--primary-shade);
}

.btn-secondary:link, .btn-secondary:visited{
    background-color:var(--secondary-base);
    border:solid 2px var(--secondary-base);
    color: var(--white);
}

.btn-secondary:hover, .btn-secondary:active{
    border:solid 2px var(--secondary-shade);
    color: var(--white);
    border:solid 2px var(--secondary-shade);
}

.highlight{
    color: #ffffff;
    padding:1rem 2rem;
    border-radius: 8px;
    
}

.highlight-primary{

    background-color: #339af0 ;
}

.highlight-secondary{
    background-color: #845ef7;
}

.highlight-tartiary{

    background-color: #ff922b;
}

/*--------------------  SECTIONS  -------------------- */


/*------------ NAVIGATION ------------*/

.nav-bar{
    margin-bottom: var(--section-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 1rem; */
}

.logo-lg{
    width: 10rem;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*------------ HERO ------------*/

.hero-section{
    margin-bottom: var(--section-margin);
    text-align: center;
}

.hero-section-heading{
    margin-bottom: 1rem;
}

.hero-section-paragraph{
    margin-bottom: 5rem;
}

.hero-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem
}

/*------------ FEATURE ------------*/

.feature-section{
    margin-bottom: var(--section-margin);
}

.feature-main-heading{
    margin-bottom: 3rem;
}

.feature-sub-headings{
    margin-bottom: 1rem;
}

.feature-image{
    max-width: 40rem;
    width: 100%;
    /* width: 40rem; */
}

/*------------ CTA ------------*/

.cta-section{
    margin-bottom:var(--section-margin) ;

}

.cta-card{
    max-width: 1000px;
    background-color: #339af0;
    border: solid 2px #1c7ed6;
    border-radius: 1.6rem;
    text-align: center;
    padding: 5rem 10rem;
    margin: 0 auto;
    /* width: 100%; */
}

.cta-card-heading{

    margin-bottom: 3rem;
}

/*------------ FOOTER ------------*/

.footer-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem
}

.logo-sm{
    width: 8rem;
}

.social-icons{
    width: 2rem;
}

.footer-link-icons{
    display: flex;
    flex-direction: row;
    gap:1rem; 

}

.footer-links{
    display: flex;
    flex-direction: row;
    gap:2rem;
    
}
