/* screen-scale: 400px:7px / 800px:8px / 1200px:9px / 1600px:10px    */

/* screen1 : 1228px / 1106px  */




@media(max-width:1159px){

    html{
        /* (9px/16px)*100% = 56.25% */
        /*  */
        font-size: 56.25%;
    }

    .feature-grid-container{
        row-gap: 4rem;
        column-gap: 2rem;
    }

}

@media(max-width:1033px){

    html{

        /* (8px / 16px) * 100% = 50% */

        font-size:50%;
    }

    .feature-grid-container{
        row-gap: 3rem;
        column-gap: 1rem;
    }
}

@media(max-width:910px){

    html{

        /* (7px/16px) * 100% = 43.75% */

        font-size: 43.75%;
    }

    .feature-grid-container{
        row-gap: 2rem;
        column-gap: 0.5rem;
    }
}

@media(max-width:792px){

    html{

        /* (7px/16px) * 100% = 43.75% */

        font-size: 43.75%;
    }

    .feature-grid-container{
        
        grid-template-columns: 1fr;
  
    }

    .change-order{
        grid-row: auto;
    }

}

@media(max-width:505px){

    html{

        /* (6px/16px) * 100% = 37.5% */

        font-size: 37.5%;
    }

    .feature-grid-container{
        
        grid-template-columns: 1fr;
  
    }

    .change-order{
        grid-row: auto;
    }

}

@media(max-width:432px){

    html{

        /* (6px/16px) * 100% = 37.5% */

        font-size: 37.5%;
    }

    br{
        display: none;
    }

    .hero-section{
        height: auto;
        margin-top: 10rem;
    }

    .feature-grid-container{
        
        grid-template-columns: 1fr;
  
    }

    .change-order{
        grid-row: auto;
    }

}